/*
 * Palette
 *
 * Neutrals
 * #FFFFFF - White
 * #F3F3F3 - Light Gray
 * #C9C9C9 - Cool Gray 3C
 * #8B8B8B - Cool Gray 7C
 * #4D4D4D - Cool Gray 11C
 * #000000 - Rich Black
 *
 * Reds
 * #FAB6B6 - Red tint 2
 * #F56D6D - Red tint 1
 * #EE0000 - Red Hat red
 * #BE0000 - Red shade 1
 * #8F0000 - Red shade 2
 * #5F0000 - Red shade 3
 */
body {
    margin: 0 auto;
    font-size: 14px;
    font-family: var(--rh-font-family-body-text,"Red Hat Text","RedHatText",Arial,sans-serif);
    background-color: #F3F3F3; /* Light Gray */
}

.globalHeader {
    position: absolute;
    height: 104px;
    margin: 0px auto;
    width: 100%;
    /*background-color: #C9C9C9;*/  /* Cool Gray 3C */
    background-color: #4D4D4D; /* Cool Gray 11C */
    text-align: center;
}

.globalHeader h1 {
    vertical-align: middle;
    padding-top: 16px;
}

.pageHeader {
    position: absolute;
    top: 104px;
    height: 102px;
    width: 1010px;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    /*background-color: #EE0000;*/ /* Red Hat red */
    background-color: #C9C9C9;  /* Cool Gray 3C */
    color: black;
    box-shadow: 1px 1px 5px black;
}

.userAvatar {
    position: absolute;
    top: 18px;
    left: 32px;
    height: 64px;
    width: 64px;
    border: solid 2px #4D4D4D; /* Cool Gray 11C */
    border-radius: 10px;
    background-color: black;
}

.pageBreadCrumb {
    position: absolute;
    top: 38px;
    left: 120px;
    height: 102px;
    font-size: 26px;
    color: white;
}

.challengeImage {
    position: absolute;
    top: 10px;
    left: 894px;
    height: 84px;
    width: 84px;
}

main {
    position: absolute;
    top: 206px;
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 926px;
    color: white;
    /*background-color: black;*/
    background-color: #8B8B8B;  /* Cool Gray 7C */
}

main h2 {
    color: #EE0000; /* Red Hat red */
    text-align: center;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

tr {
    margin-bottom: 15px;
}

th, td {
    padding: 15px;
    background-color: black
}

table td:nth-child(1) {
    width: 10%;
}

table td:nth-child(2) {
    width: 70%;
}

table td:nth-child(3) {
    width: 20%;
}

.achieveName {
    font-size: 16px;
}

.sectionHeader {
    padding: 10px;
}
