body {
    width: 900px;
    margin: 0 auto;
    border: 1px solid black;
    font-size: 14px;
    font-family: var(--rh-font-family-body-text,"Red Hat Text","RedHatText",Arial,sans-serif);
    background-color: #F3F3F3;
}

h1, h2 {
    color: #EE0000; /* Red Hat red */
    text-align: center;
}

header {
    border: 1px solid black;
    text-align: center;
    background-color: #C9C9C9;  Medium grey
}

main {
    color: white;
    background-color: black;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

tr {
    /*border: 1px solid black;*/
    margin-bottom: 15px;
}

th, td {
    padding: 15px;
    /*border-bottom: 5px solid #C9C9C9; */
    background-color: black
}

table td:nth-child(1) {
    width: 10%;
}

table td:nth-child(2) {
    width: 70%;
}

table td:nth-child(3) {
    width: 20%;
}

.achieveName {
    font-size: 16px;
}

.sectionHeader {
    padding: 1px;
}
